.body{
    background-color: aqua;
}

.section{
    width: 80vh;
}

.underline {
    top: 1rem;
    width: 10rem;
    height: 0.25rem;
    background: hsl(205, 78%, 60%);
    margin: 0 auto;
}
  
.center-text{
    text-align: center;
    width: 100%;
    margin:0 auto;
    margin-top: 3rem;
}
  

/* card */
.card-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
    /* border: 1px solid rebeccapurple; */
    align-items: center;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .simple-card {
      margin-left: 1rem;
    /* border: 1px solid green; */
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 350px;
    border-radius: 8px;
    transition: transform 500ms ease 0s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .simple-card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    height: 90%;
    overflow: hidden;
    object-fit: cover;
  }
  .simple-card p {
    overflow: hidden;
    /* required for overflow */
    text-overflow: ellipsis;
  
  }
  .simple-card:hover {
    transform: scale(1.025);
  }
  
  @media screen and (max-width: 800px) {
    .card-container {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .simple-card {
      margin-top: 10px;
      width: 90%;
      height: 250px;
    }
  }